# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
game

# MacOS specific files
.DS_Store

# Preserve soft links
!*/

# Ignore everything in the build directory except for debug
/build/*
!/build/debug/
/build/debug/*
